@import '../../../Global.module.scss';

.logo{
    display: flex;
    width: auto;
    height: auto;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    height: 60px;

    .logo_text{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 3px;
        margin: 0;
        padding: 0;
        font-size: 18px;
        
        @media screen and (max-width:$appwidth_567) {
            letter-spacing: 2px;
        }
    }

    .logo_maxim{
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        letter-spacing: 6px;
        margin: 0;
        padding: 0;
        font-size: 12px;
        text-align: center;
        width: 100%;

        @media screen and (max-width:$appwidth_567) {
            letter-spacing: 3px;
        }
    }
}