.webgl_world_Arrows{
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;right: 0;
    margin: 0 auto;
    bottom: 20px;
    gap: 15px;
    z-index: 10;
    transition: all .35s ease;

    .webgl_world_Arrows_btn_wrap{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .35s ease;
        cursor: pointer;

        &:hover{
            scale: 1.15;
        }
    }
}