.webgl_world_WorldMenuContainer{
    width: auto;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(86, 86, 86, 0.25);
    padding: 10px;
    gap: 10px;
    z-index: 10;
}