@import '../../../Global.module.scss';
.sectionWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    flex: 1 0 100%;
    // background-color: red;
    gap: 10px;

    .singleImage{
        display: flex;
        width: 100%;
        height: 100%;
        flex: 2;
        height: 100%;
        // background-color: blue;
        overflow: hidden;
                    
        @media screen and (max-width:$appwidth_567) {
            flex: 1.5;
        }
    }

    .columnImage{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        flex: 1;
        gap: 10px;
        // background-color: green;
        overflow: hidden;
    }

    .two{                   
        @media screen and (max-width:$appwidth_567) {
            display: none;
        }
    }

    .image_wrap{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .rowImage{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        flex: 1 0 100%;
        gap: 10px;
        // background-color: rgb(28, 0, 128);
        overflow: hidden;
    }
}

.image_wrapsectionWrapSkeleton{
    width: 100%;
    height: 100%;
    background-color: rgb(119, 119, 119);
    overflow: hidden;
    animation: skeleton 1s ease infinite;
}

@keyframes skeleton{
    to{
        opacity: .5;
    }
}