.webgl_world{
    position: relative;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
}

.icons{
    width: 100%;
    height: 100%;
}

.webgl_world_btn_wrap{
    width: 35px;
    height: 35px;
}