@import '../../../Global.module.scss';
.webgl_world{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

.icons{
    width: 100%;
    height: 100%;
}

.webgl_world_btn_wrap{
    width: 35px;
    height: 35px;
}