.webgl_world_Container_Options{
    width: 30px;
    height: 30px;
    // background-color: rgba(86, 86, 86, 0.25);
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    left: 50%; top: 10px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}