@import '../../../../Global.module.scss';

.webgl_world_WorldBtn{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $btnBackgroundColor;
    color: $colorWorldText;
    transition: all .35s ease;
    border-radius: 50%;
    cursor: pointer;

    &:hover{
        scale: 1.15;
        // background-color: rgba(128, 128, 128, 0.445);
    }

    .webgl_world_WorldBtn_icons{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}