@import './Global.module.scss';
#root {
  margin: 0;
  position: relative;
  width: 100%;
  // height: 100%;
  padding: 0;
  background-color: $elementsBackgroundColor;
}

.icons{
    width: 100% !important;
    height: 100% !important;
    flex: 1 0;
}

.images{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

hr{
  width: 100%;
}

.webglWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  // top: 60px;
  // height: calc(100vh - 60px);
  width: 100%;

  @media screen and (max-width: $appwidth_567) {
    top: 60px;
    height: calc(100vh - 60px);
  }
  // background-color: red;
  // gap: 10px;
}